# macOS System Files
.DS_Store

# IDE Configuration Directories
.vscode/
.idea/

# HashiCorp Packer Artifacts
packer_cache/
crash.log
crash.*.log
builder/vmware/common/local_output/
builder/vmware/common/test_output/
packer-plugin-vmware*
