---
# This workflow will run the tests across a matrix of operating systems.

name: Go Test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  go-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    name: Go Tests (${{ matrix.os }})
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          cache: true
      - name: Run Tests
        shell: bash
        run: |
          echo "Testing with $(go env GOVERSION) on ${{ matrix.os }}"
          if [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            go test -race -count 1 ./... -timeout=3m
          else
            go test -count 1 ./... -timeout=3m
          fi